@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat|Oswald");

:root {
    --mainWhite: #fff;
    --mainDark: #040404;
    --mainOrange: #b27300; 
}
* {
    box-sizing: border-box;
} li {
    list-style: none;
}
a {
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
   margin: 0;
   padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--mainDark);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: var(--mainWhite);
    font-size: 10px;
}
.ourSeriesTitleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.generalTitle {
    font-size: 1.6rem;
    color: #000;
    padding-bottom: 5px;
}
.title {
    font-size: 8rem;
    font-family: lobster;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000000;
}
.offColorTitle{
    color: var(--mainOrange);
}
.whiteColorTitle {
    color: var(--mainWhite);
}